@font-face {
  font-family: "Rift-Demi";
  src: url("../../Fonts/RiftDemi.woff") format("woff");
  font-style: bold;
}

@font-face{
  font-family: "FortFoundry";
  src: url("../../Fonts/FortFoundry-Rift-Regular.otf") format("opentype");
  font-style: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap");