$color-primary: #413a85;
$color-secondary: #180539;
$color-gray: #727272;
$color-gray-dark: #2c2c2c;
$color-white: #fff;
$color-bg-contribiton: #f6f9fc;
$color-bg-app: #f0f4fc;

$color-shadow: 0px 0px 14px 0px rgba(0, 41, 158, 0.21);

$font: "Rift-Demi", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-tertiary: "FortFoundry", sans-serif;
